﻿@model int
@{
    var acceptedProgrammingLanguages = ViewBag.AcceptedProgrammingLanguages as List<CodEval.DAL.Repository.ProgrammingLanguage>;
}
<h2>@ViewBag.ContestName</h2>
@(Html.Kendo().Grid<CodEval.BLL.Models.ProblemSubmission>()
                .Name("problemsGrid")
                .Columns(columns =>
                {
                    columns.Bound(e => e.ProblemName).ClientTemplate("<a href=\"" + Url.Action("Index", "Problem") + "?id=#=ProblemId#\">#=ProblemName#</a>");
                    columns.Bound(e => e.SolutionName).ClientTemplate("<a href=\"" + Url.Action("Index", "Submissions") + "?id=#=SubmissionId#\" target=\"_blank\">#=SolutionName#</a>");
                    columns.Bound(e => e.AcceptedTime).Format("{0:dd-MM-yyyy HH:mm:ss}");
                    columns.Bound(e => e.ProblemId).Width(200).Visible(false).Title("Submission").ClientTemplate("<div class=\"uploadFilesClass\"><input name=\"files\" id=\"upload_#=ProblemId#\" type=\"file\" data-prid=\"#=ProblemId#\" /></div>");
                })
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .Read(read => read.Action("GetProblems", "Home", new { contestId = Model }))
                 )
                 .AutoBind(true)
                 .Events(e => e.DataBound("onProblemsGridDataBound"))
            )
@if ((bool)ViewBag.IsActiveContest)
{
    var remainingTime = (TimeSpan)ViewBag.RemainingTime;
    <h3 style="color: red;">@ViewBag.ContestName ends in @String.Format(@"{0:%d} days, {0:hh\:mm\:ss}", remainingTime)</h3>
}
else
{
    <h3 style="color: red;">@ViewBag.ContestName isn't active now!</h3>
}
@if (!String.IsNullOrWhiteSpace(ViewBag.ContestDescription))
{
    <h3>Description:</h3>
    <p id="description">
        @Html.Raw(ViewBag.ContestDescription)
    </p>
}
@if (acceptedProgrammingLanguages.Any())
{
    <h3>Accepted Programming Languages:</h3>
    <ul>
        @foreach (var lang in acceptedProgrammingLanguages)
        {
            <li>
                @lang.Name
            </li>
        }
    </ul>
}

<script>
    function onProblemsGridDataBound() {
        $.each($('.uploadFilesClass'), function () {
            var grid = $('#problemsGrid').data().kendoGrid;
            var row = $(this).closest('tr');
            var dataItem = grid.dataItem(row);
            $("#upload_" + dataItem.ProblemId).kendoUpload({
                multiple: false,
                async: {
                    saveUrl: "@Url.Action("SubmitSubmission", "Submissions")",
                    autoUpload: true
                },
                upload: onUpload,
                success: onSubmitSuccess,
                error: onSubmitError,
                select: onSelect
            });
        });
    }

    function onUpload(e) {
        e.data = {
            problemId: e.sender.element.data('prid')
        };
    }

    function onSelect(e) {
        $.each(e.files, function (index, value) {
            //value.name
            if (!(value.size < 20480 && (value.extension.toLowerCase() == '.pas' || value.extension.toLowerCase() == '.cpp' || value.extension.toLowerCase() == '.c'))) {
                e.preventDefault();
                alert('Invalid File!');
            }
        });
    };

    function onSubmitSuccess(e) {
        alert('Submission succeded!');
        $('#problemsGrid').data('kendoGrid').dataSource.read();
    }

    function onSubmitError(e) {
        alert(e.XMLHttpRequest.responseText);
    }
</script>
