﻿<h2>Contests</h2>
@(Html.Kendo().Grid<CodEval.DAL.Repository.Contest>()
            .Name("contestsGrid")
            .Columns(columns =>
            {
                columns.Bound(e => e.Name).ClientTemplate("<a href=\"" + Url.Action("Index", "Home") + "?contestId=#=ID#\">#=Name#</a>");
                columns.Bound(e => e.StartDate).Format("{0:dd-MM-yyyy HH:mm}");
                columns.Bound(e => e.EndDate).Format("{0:dd-MM-yyyy HH:mm}");
                columns.Bound(e => e.Id_Admin).Visible(false).Title("Problems").ClientTemplate("<a href=\"" + Url.Action("Index", "Home") + "?contestId=#=ID#\">Problems</a>");
                columns.Bound(e => e.Id_Admin).Title("Rankings").ClientTemplate("<a href=\"" + Url.Action("Index", "Ranking") + "?contestId=#=ID#\">Rankings</a>").Filterable(false);
            })
            .Filterable()
            .Pageable()
            .Navigatable()
            .Sortable()
            .Scrollable()
            .AutoBind(true)
            .DataSource(dataSource => dataSource
                .Ajax()
                .Batch(true)
                .PageSize(50)
                .ServerOperation(false)
                .Events(events => events.Error("error_handler"))
                .Model(model =>
                {
                    model.Id(p => p.ID);
                    model.Field(p => p.Name).Editable(false);
                    model.Field(p => p.StartDate).Editable(false);
                    model.Field(p => p.EndDate).Editable(false);
                    model.Field(p => p.Id_Admin).Editable(false);
                }
                )
                .Read("GetContests", "Home")
            )
        )
<script type="text/javascript">
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }
</script>
