﻿#problem {
    width: 100%;
    border: 1px solid black;
}

    #problem td {
        padding: 0;
        text-align: center;
        border: 1px solid black;
    }

    #problem th {
        text-align: center;
        border: 2px solid black;
    }

#problemBody {
    margin-top: 5px;
}

#problemExamples td {
    border: 1px solid black;
    vertical-align: top;
}

#problemExamples th {
    border: 1px solid black;
    vertical-align: top;
}

.k-editor-dialog {
    padding: 1em;
    width: 100%;
}

#problemReviews th {
    border: 1px solid black;
    vertical-align: top;
    text-align: center;
}

#problemReviews td {
    border: 1px solid black;
    vertical-align: top;
    text-align: center;
    padding: 3px;
}

#reviewProblemForm input,label,textarea {
    float: left;
    margin: 5px 5px 5px 5px;
}

#reviewProblemForm input[type="number"] {
    width: 40px;
}

#reviewProblemForm textarea {
    max-width: 300px;
}

#recommendations th {
    border: 1px solid black;
    vertical-align: top;
    text-align: center;
}

#recommendations td {
    border: 1px solid black;
    vertical-align: top;
    text-align: center;
    padding: 3px;
}