﻿<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="icon" type="image/ico" href="@Url.Content("~/Images/favicon.ico")">
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2013.2.716/kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2013.2.716/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2013.2.716/kendo.default.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2013.2.716/kendo.dataviz.default.min.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/kendo/2013.2.716/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2013.2.716/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2013.2.716/kendo.aspnetmvc.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
    <script src="@Url.Content("~/Scripts/cultures/kendo.culture.en-GB.min.js")"></script>
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">@Html.ActionLink("CodEval", "Index", "Home")</p>
            </div>
            <div class="float-right">
                <nav>
                    @Html.Partial("_MenuPartial")
                </nav>
            </div>
        </div>
        @Html.Partial("_LoginPartial")
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    @{
        var currentTime = TimeZone.CurrentTimeZone.ToUniversalTime(DateTime.Now).AddHours(3);
    }
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - CodEval, Developed by <a href="https://ro.linkedin.com/in/vasilepojoga" target="_blank">Pojoga Vasile</a></p>
            </div>
            <div class="float-right">
                <p>Server Time: <span id="currentTime">@currentTime.ToLongTimeString()</span></p>
            </div>
        </div>
    </footer>
    <script src="~/Scripts/Layout.js"></script>
    @RenderSection("Scripts", required: false)
    <script type="text/javascript">
        kendo.culture("en-GB");
        Layout.Init(new Date(Number("@currentTime.Year"), Number("@currentTime.Month")-1, Number("@currentTime.Day"), Number("@currentTime.Hour"), Number("@currentTime.Minute"), Number("@currentTime.Second"), Number("@currentTime.Millisecond")), document.getElementById('currentTime'));
    </script>
</body>
</html>
