﻿@{
    if (@CodEval.Web.Helpers.SessionHelper.Authentificated)
    {
        var firstName = CodEval.Web.Helpers.SessionHelper.CurrentContestant != null ? CodEval.Web.Helpers.SessionHelper.CurrentContestant.FirstName : CodEval.Web.Helpers.SessionHelper.CurrentAdmin.FirstName;
        var lastName = CodEval.Web.Helpers.SessionHelper.CurrentContestant != null ? CodEval.Web.Helpers.SessionHelper.CurrentContestant.LastName : CodEval.Web.Helpers.SessionHelper.CurrentAdmin.LastName;
        var username = CodEval.Web.Helpers.SessionHelper.CurrentContestant != null ? CodEval.Web.Helpers.SessionHelper.CurrentContestant.Username : CodEval.Web.Helpers.SessionHelper.CurrentAdmin.UserName;
    <div class="userInfo">
        <div class="contestantName">@firstName @lastName</div>
        <div class="userName">
            <div id="onlineRound"></div>
            <u>@username</u>
        </div>
        <div class="logout"><a href="@Url.Action("Index", "Logout")">logout</a></div>
    </div>
    }
}