﻿@{
    if (@CodEval.Web.Helpers.SessionHelper.CurrentContestant != null)
    {
    <ul id="menu">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Submissions", "Index", "Submissions")</li>
        <li>@Html.ActionLink("Questions", "Index", "Questions")</li>
    </ul>
    }
    else if (@CodEval.Web.Helpers.SessionHelper.CurrentAdmin != null)
    {
    <ul id="menu">
        <li>@Html.ActionLink("Home", "Index", "Admin")</li>
        <li>@Html.ActionLink("Users", "Users", "Admin")</li>
        <li>@Html.ActionLink("Submissions", "Submissions", "Admin")</li>
        <li>@Html.ActionLink("Results", "SubmissionsResults", "Admin")</li>
        <li>@Html.ActionLink("Questions", "Questions", "Admin")</li>
        <li>@Html.ActionLink("Statuses", "Statuses", "Admin")</li>
        <li>@Html.ActionLink("Categories", "ProblemCategories", "Admin")</li>
        <li>@Html.ActionLink("Similarity", "Similarities", "Admin")</li>
    </ul>
    }
    else
    {
    <ul id="menu">
        <li>@Html.ActionLink("Login", "Index", "Login")</li>
        <li>@Html.ActionLink("Register", "Index", "Register")</li>
    </ul>
    }
}