﻿@model int
@{
    ViewBag.Title = "Ranking";
}

<h2>@ViewBag.ContestName Ranking</h2>

@(Html.Kendo().Grid<CodEval.BLL.Models.ContestantRank>()
    .Name("rankingsGrid")
    .Columns(columns =>
    {        
        columns.Bound(e => e.Rank).Width(70);
        columns.Bound(e => e.ContestantName);
        columns.Bound(e => e.Score).Width(75);        
    })
    .Pageable()
    .Navigatable()
    .Sortable()
    .Scrollable()
    .Filterable()
    .AutoBind(true)
    .DataSource(dataSource => dataSource
        .Ajax()
        .Batch(true)
        .PageSize(100)
        .ServerOperation(false)
        .Read("GetRankings", "Ranking", new { contestId = Model })
    )
)