﻿@{
    ViewBag.Title = "Questions";
}
<input type="button" onclick="onBtnQuestionClick(event)" value="Ask a questin" id="btnQuestion" class="k-button">
@(Html.Kendo().Grid<CodEval.DAL.Repository.Question>()
    .Name("questionsGrid")
    .HtmlAttributes(new { @style = "margin-top:5px;" })
    .Columns(columns =>
    {
        columns.Bound(e => e.Question1).Title("Question").HtmlAttributes(new { @style = "font-weight:bold;" });
        columns.Bound(e => e.Answer).HtmlAttributes(new { @style = "color:blue;font-style:italic;" });
    })
    .DataSource(dataSource => dataSource
        .Ajax()
        .Read(read => read.Action("GetQuestions", "Questions"))
     )
     .AutoBind(true)
)

@(Html.Kendo().Window()
    .Name("windowQuestion")
    .Title("Question")
    .Content(@<text>
                <table>
                    <tr>
                        <td>
                            <textarea id="tbQuestion" style="width: 400px; max-width: 400px; min-width: 400px; min-height: 60px;">
                            </textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="button" onclick="onBtnSendQuestionClick(event)" value="Send" id="btnSendQuestion" class="k-button">
                        </td>
                    </tr>
                </table>
                </text>)
    .Draggable()
    .Visible(false)
    .Actions(actions => actions.Close())
    )

<script>
    $(document).ready(function () {
        setInterval(function () { questionTimer() }, 10000);
    });

    function questionTimer() {
        $('#questionsGrid').data('kendoGrid').dataSource.read();
    }

    function onBtnQuestionClick(event) {
        var window = $('#windowQuestion').data('kendoWindow');
        $('#tbQuestion').val('');
        window.center().open();
        return false;
    }

    function onBtnSendQuestionClick(event) {
        var question = $('#tbQuestion').val();
        SendQuestion(question);
        return false;
    }

    function SendQuestion(q) {
        $.ajax({
            type: 'POST',
            url: "@Url.Action("SendQuestion","Questions")",
            data: JSON.stringify({ question: q }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                if (data) {
                    $('#questionsGrid').data('kendoGrid').dataSource.read();
                    var window = $('#windowQuestion').data('kendoWindow');
                    window.close();
                }
                else {
                    alert('Some error occured when trying to send the question, please try again!');
                }
                
            },
            error: function () {
                alert("Connexion error, please try again!");
            }
        });
    }
</script>
