﻿@model int
@{
    var submission = ViewBag.Submission as CodEval.DAL.Repository.Submission;
    var submissionSourceCode = ViewBag.SubmissionSourceCode;
    ViewBag.Title = "Submission Result";
}
<link href="~/Content/highlight/school_book.css" rel="stylesheet" />
@*<link href="~/Content/highlight/vs.css" rel="stylesheet" />*@

<h2><a href="@Url.Action("Index", "Problem", new { id = submission.ID_Problem })">@submission.Problem.Name</a></h2>

@(Html.Kendo().Grid<CodEval.DAL.Repository.SubmissionResult>()
    .Name("submissionResultsGrid")
    .Columns(columns =>
    {
        columns.ForeignKey(p => p.ID_Test, (System.Collections.IEnumerable)ViewData["tests"], "ID_Test", "Test_Name").HtmlAttributes(new { style = "text-align:center;" }).Title("Test");
        columns.Bound(p => p.Time).Format("{0:n0} ms").HtmlAttributes(new { style = "text-align:right;" }).Title("Execution Time");
        columns.Bound(p => p.Memory).HtmlAttributes(new { style = "text-align:right;" });
        columns.ForeignKey(p => p.ID_Status, (System.Collections.IEnumerable)ViewData["statuses"], "ID_Status", "Status_Name").HtmlAttributes(new { style = "text-align:right;" }).Title("Status");
        columns.Bound(p => p.EvaluationTime).Format("{0:dd-MM-yyyy HH:mm:ss}").HtmlAttributes(new { style = "text-align:center;" });
        columns.Bound(p => p.Score).ClientFooterTemplate("<div>Total: #= sum #</div>").ClientGroupFooterTemplate("<div>Total: #= sum #</div>").HtmlAttributes(new { style = "text-align:right;" });
    })
    .DataSource(dataSource => dataSource
        .Ajax()
        .Read("GetSubmissionResults", "Submissions", new { submissionId = Model })
        .Aggregates(aggregates =>
        {
            aggregates.Add(p => p.Score).Sum();
        })
        .ServerOperation(false)
     )
     .AutoBind(true)
     .Sortable()
     .Filterable()
     .Events(e => e.DataBound("onSubmissionResultsGridDataBound"))
)
<h3>Source code</h3>
<pre><code class="@(submission.FileName.EndsWith(".pas") ? "delphi" : @String.Empty)">@submissionSourceCode</code></pre>

<script src="~/Scripts/highlight.pack.js"></script>
<script type="text/javascript">hljs.initHighlightingOnLoad();</script>

@{
    var statusesJson = Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewData["statuses"]));
}

<script>
    var statusesColors = getStatusesColors();

    function onSubmissionResultsGridDataBound(event) {
        var grid = $("#submissionResultsGrid").data("kendoGrid");
        var data = grid.dataSource.data();
        $.each(data, function (i, row) {
            $('tr[data-uid="' + row.uid + '"] ').css("background-color", statusesColors[row.ID_Status]);
        });
    };

    function getStatusesColors() {
        var statuses = JSON.parse('@statusesJson');
        var result = {};
        for (var i = 0; i < statuses.length; i++) {
            result[statuses[i].ID_Status] = statuses[i].Status_Color;
        }
        return result;
    };
</script>
