﻿@{
    ViewBag.Title = "Submissions";
}

@(Html.Kendo().Grid<CodEval.DAL.Repository.Submission>()
    .Name("submissionsGrid")
    .Columns(columns =>
    {
        columns.ForeignKey(p => p.ID_Problem, (System.Collections.IEnumerable)ViewData["problem_contest"], "ID_Problem", "Contest_Name").Title("Contest").ClientTemplate("<a href=\"" + Url.Action("Index", "Home") + "?contestId=#=getContestId(data)#\">#=getContestName(data)#</a>");
        columns.ForeignKey(p => p.ID_Problem, (System.Collections.IEnumerable)ViewData["problem_contest"], "ID_Problem", "Problem_Name").Title("Problem").ClientTemplate("<a href=\"" + Url.Action("Index", "Problem") + "?id=#=ID_Problem#\">#=getProblemName(data)#</a>");
        columns.ForeignKey(p => p.Status, (System.Collections.IEnumerable)ViewData["submissionsStatuses"], "ID_Status", "Status_Name").Title("Status");
        columns.Bound(e => e.SubmissionTime).Format("{0:dd-MM-yyyy HH:mm:ss}");
        columns.ForeignKey(p => p.ID, (System.Collections.IEnumerable)ViewData["submissionsScores"], "ID_Submission", "Submission_Score").Title("Score").HtmlAttributes(new { style = "text-align:right;" }).Filterable(false).ClientTemplate("<a href=\"" + Url.Action("Index", "Submissions") + "?id=#=ID#\" title=\"View Sorce & Evaluation Details\">#=getSubmissionScore(data)#</a>"); ;
    })
    .Sortable()
    .DataSource(dataSource => dataSource
        .Ajax()
        .Read(read => read.Action("GetSubmissions", "Submissions"))
        .ServerOperation(false)
     )
     .Filterable()
     .AutoBind(true)
     .Events(e => e.DataBound("onSubmissionsGridDataBound"))
)

<div id="noSubmissionsDiv" style="display: none;">
    <h3>There aren't any submissions till now!</h3>
</div>

@{
    var json = Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewData["problem_contest"]));
}

<script>
    function onSubmissionsGridDataBound(event) {
        var grid = $("#submissionsGrid").data("kendoGrid");
        if (grid.dataSource.data().length == 0) {
            $("#submissionsGrid").hide();
            $("#noSubmissionsDiv").show();
        }
    }

    var problems = null;
    var contests = null;
    var contestsIds = null;
    var submissionScores = null;

    //get's the Problem_Name by ID_Problem
    function getProblemName(data) {
        var grid = $("#submissionsGrid").data("kendoGrid");
        //change the index of the column with your index
        var valuesCollection = grid.options.columns[1].values;

        //if the collection is empty - get it from the grid
        if (!problems) {
            problems = {};
            //Set the correct FKColumn index
            for (var value in valuesCollection) {
                problems[valuesCollection[value].value] = valuesCollection[value].text;
            }
        }
        return problems[data.ID_Problem];
    };

    //get's the Contest_Name by ID_Problem
    function getContestName(data) {
        var grid = $("#submissionsGrid").data("kendoGrid");
        //change the index of the column with your index
        var valuesCollection = grid.options.columns[0].values;

        //if the collection is empty - get it from the grid
        if (!contests) {
            contests = {};
            //Set the correct FKColumn index
            for (var value in valuesCollection) {
                contests[valuesCollection[value].value] = valuesCollection[value];
            }
        }
        return contests[data.ID_Problem].text;
    };

    //get's the Contest_Name by ID_Problem
    function getSubmissionScore(data) {
        var grid = $("#submissionsGrid").data("kendoGrid");
        //change the index of the column with your index
        var valuesCollection = grid.options.columns[4].values;

        //if the collection is empty - get it from the grid
        if (!submissionScores) {
            submissionScores = {};
            //Set the correct FKColumn index
            for (var value in valuesCollection) {
                submissionScores[valuesCollection[value].value] = valuesCollection[value];
            }
        }
        return submissionScores[data.ID].text;
    };

    //get's the ContestId by ID_Problem
    function getContestId(data) {
        //if the collection is empty - get it from the json
        if (!contestsIds) {
            contestsIds = {};
            valuesCollection = JSON.parse('@json');
            //Set the correct FKColumn index
            for (var value in valuesCollection) {
                contestsIds[valuesCollection[value].ID_Problem] = valuesCollection[value];
            }
        }
        return contestsIds[data.ID_Problem].ID_Contest;
    };
</script>
