﻿@using CodEval.Web.Helpers
@model CodEval.DAL.Repository.Problem
@{
    ViewBag.Title = Model.Name;
}
@section featured {
    <link href="~/Content/Problem.css" rel="stylesheet" />
}

<h2>@Model.Name</h2>
<table id="problem">
    <thead>
        <tr>
            <th>Contest</th>
            <th>Author</th>
            <th>Time Limit Per Test</th>
            <th>Memory Limit Per Test</th>
            <th>Input File</th>
            <th>Output File</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="@Url.Action("Index", "Home", new { contestId = Model.Id_Contest })">@Model.Contest.Name</a></td>
            <td>@Model.Admin.FirstName @Model.Admin.LastName</td>
            <td>@Model.TimeLimit ms</td>
            <td>@Model.MemoryLimit MB</td>
            <td>@String.Format("{0}.in", Model.Name.ToLower())</td>
            <td>@String.Format("{0}.out", Model.Name.ToLower())</td>
        </tr>
    </tbody>
</table>
<div id="problemBody">
    @Html.Raw(Model.Body)
</div>
<div id="problemInput">
    <h4>Input</h4>
    @Html.Raw(Model.Input)
</div>
<div id="problemOutput">
    <h4>Output</h4>
    @Html.Raw(Model.Output)
</div>
@if (!String.IsNullOrWhiteSpace(Model.Restrictions))
{
    <div id="problemRestrictions">
        <h4>Restrictions</h4>
        @Html.Raw(Model.Restrictions)
    </div>
}
@if (!String.IsNullOrWhiteSpace(Model.Examples))
{
    <div id="problemExamples">
        <h4>Examples</h4>
        @Html.Raw(Model.Examples)
    </div>
}
@{
    if (Model.Contest.EndDate < DateTime.Now)
    {
        if (Model.ProblemCategories.Any())
        {
    <div>
        <h5>Categories</h5>
        <ul id="problemCategories">
            @foreach (var category in Model.ProblemCategories)
            {
                <li title="@category.Description">@category.Name</li>
            }
        </ul>
    </div>   
        }
        if (Model.ProblemReviews != null && Model.ProblemReviews.Any())
        {
    <div>
        <h5>Reviews</h5>
        <table id="problemReviews">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Review</th>
                    <th>Rate</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var review in Model.ProblemReviews)
                {
                    <tr>
                        <td>@review.Contestant.FirstName @review.Contestant.LastName</td>
                        <td>@review.Comment</td>
                        <td>@review.Rate</td>
                        <td>@review.ReviewDate</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
        }
        if (Model.ProblemReviews == null || !Model.ProblemReviews.Any(pr => pr.Id_Contestant == SessionHelper.CurrentContestant.ID))
        {
    <div>
        <form method="post" action="@Url.Action("Review", "Problem")" id="reviewProblemForm">
            <h5>Review this problem!</h5>
            <input type="hidden" name="Id_Problem" value="@Model.ID"/>
            <label for="Comment">Review:</label>
            <textarea name="Comment" id="Comment"></textarea>
            <label for="Rate">Rate:</label>
            <input type="number" name="Rate" id="Rate" min="1" max="5" value="5" />
            <input type="submit" value="Submit" />
        </form>
    </div>
        }
    }
    else
    {
    <form method="post" action="@Url.Action("Submit", "Submissions")" enctype="multipart/form-data" id="submitSolutionForm">
        <input type="hidden" name="problemId" value="@Model.ID"/>
        <label for="file">Upload Solution:</label>
        <input type="file" name="file" id="file" accept="@String.Join(", ", Model.Contest.ProgrammingLanguages.Select(a => a.AcceptedSourcesExtensions))"/>
        <input type="submit" value="Submit" />
    </form>
    }
}
<div id="recommendations" style="display: none;">
    <input type="hidden" id="problemId" value="@Model.ID"/>
    <h5>Recommendations!</h5>
    <table id="recommendationsTable">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<script type="text/javascript">
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }

    $("#submitSolutionForm").submit(function (e) {
        var formObj = $(this);
        var formURL = formObj.attr("action");
        var formData = new FormData(this);
        $.ajax({
            url: formURL,
            type: 'POST',
            data: formData,
            mimeType: "multipart/form-data",
            contentType: false,
            cache: false,
            processData: false,
            success: function (data, textStatus, jqXHR) {
                data = JSON.parse(data);
                alert(data.Message);
                document.getElementById('submitSolutionForm').reset();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(textStatus);
            }
        });
        e.preventDefault(); //Prevent Default action. 
        //e.unbind();
    });
</script>
<script src="~/Scripts/Controllers/ProblemController.js"></script>
