﻿@{
    ViewBag.Title = "Contests - ADMINISTRATOR";
}

<h2>Contests - API key:@ViewBag.ApiKey</h2>
@(Html.Kendo().Grid<CodEval.DAL.Repository.Contest>()
                .Name("contestsGrid")
                .Columns(columns =>
                {
                    columns.Bound(e => e.Name).ClientTemplate("<a href=\"" + Url.Action("Problems", "Admin") + "?contestId=#=ID#\">#=Name#</a>").Width(120);
                    columns.Bound(e => e.StartDate).Format("{0:dd-MM-yyyy hh:mm tt}");
                    columns.Bound(e => e.EndDate).Format("{0:dd-MM-yyyy hh:mm tt}");
                    columns.Bound(e => e.Description).Width(200);
                    columns.Bound(e => e.Id_Admin).Title("Submissions").ClientTemplate("<form method=\"post\" action=\"" + Url.Action("DownloadSubmissions", "Admin") + "?contestId=#=ID#\"><input type=\"submit\" value=\"Submissions\" class=\"k-button\"></form>").Width(105);
                    columns.Bound(e => e.Id_Admin).Title("Problems").ClientTemplate("<a href=\"" + Url.Action("Problems", "Admin") + "?contestId=#=ID#\">Problems</a>").Width(85);
                    columns.Bound(e => e.Id_Admin).Title("Rankings").ClientTemplate("<a href=\"" + Url.Action("Index", "Ranking") + "?contestId=#=ID#\">Rankings</a>").Width(85);
                    columns.Command(command => command.Destroy()).Width(95);
                })
                .ToolBar(toolbar =>
                {
                    toolbar.Create();
                    toolbar.Save();
                })
                //.ClientDetailTemplateId("programmingLanguagesTemplate")
                .Editable(editable => editable.Mode(GridEditMode.InCell))
                .Pageable()
                .Navigatable()
                .Sortable()
                .Scrollable()
                .AutoBind(true)
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .Batch(true)
                    .PageSize(50)
                    .ServerOperation(false)
                    .Events(events => events.Error("error_handler"))
                    .Model(model =>
                        {
                            model.Id(p => p.ID);
                            model.Field(p => p.Id_Admin).Editable(false);
                        }
                    )
                    .Create("AddContest", "Admin")
                    .Read("GetContests", "Admin")
                    .Update("UpdateContest", "Admin")
                    .Destroy("DeleteContest", "Admin")
                )
            )

<script type="text/javascript">
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }

    $(document).ready(function () {
        $("#contestsGrid").data("kendoGrid").columns[1].editor = dateTimeEditor;
        $("#contestsGrid").data("kendoGrid").columns[2].editor = dateTimeEditor;
    });

    function dateTimeEditor(container, options) {
        $('<input data-text-field="' + options.field + '" data-value-field="' + options.field + '" data-bind="value:' + options.field + '" data-format="' + options.format + '"/>')
                .appendTo(container)
                .kendoDateTimePicker({});
    }
</script>

<script id="programmingLanguagesTemplate" type="text/kendo-tmpl">
    @(Html.Kendo().Grid<CodEval.DAL.Repository.ProgrammingLanguage>()
        .Name("contestProgrammingLanguages_#=ID#")
        .Columns(columns =>
        {
            columns.Bound(o => o.Name);
            columns.Bound(o => o.AcceptedSourcesExtensions);            
        })
        .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(5)
            .Read(read => read.Action("GetContestProgrammingLanguages", "Admin", new { contestId = "#=ID#" }))            
        )
        .Pageable()
        .Sortable()
        .ToClientTemplate()
    )
</script>
