﻿@model CodEval.BLL.Models.User
@{
    ViewBag.Title = "Login - ADMINISTRATOR";
}
<h2>Login</h2>

@using (Html.BeginForm("Login","Admin")) {
    @Html.ValidationSummary(true, "Login failed. Check your login details.");
    <div>
        <fieldset>
            <legend>Login</legend>
            <div class="editor-label">
                @Html.LabelFor(u => u.UserName)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(u => u.UserName)
                @Html.ValidationMessageFor(u => u.UserName)
            </div>
            <div class="editor-label">
                @Html.LabelFor(u => u.Password)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(u => u.Password)
                @Html.ValidationMessageFor(u => u.Password)
            </div>            
            <input type="submit" value="Log In" />
        </fieldset>
    </div>
}
