﻿@model CodEval.DAL.Repository.Problem
@{
    ViewBag.Title = Model.Name + " - ADMINISTRATOR";
    var problemCategories = ViewBag.ProblemCategories as List<CodEval.DAL.Repository.ProblemCategory> ?? new List<CodEval.DAL.Repository.ProblemCategory>();
}
@section featured {
    <link href="~/Content/Problem.css" rel="stylesheet" />
}
@using (Html.BeginForm("Problem", "Admin", FormMethod.Post, new { id = "problemForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    @Html.HiddenFor(a => a.ID);
    @Html.HiddenFor(a => a.Id_Contest);
    @Html.HiddenFor(a => a.Id_Admin);    
    <h2>Name: @Html.TextBoxFor(a => a.Name)</h2>
    <table id="problem">
        <thead>
            <tr>
                <th>Contest</th>
                <th>Author</th>
                <th>Time Limit Per Test</th>
                <th>Memory Limit Per Test</th>
                <th>Input File</th>
                <th>Output File</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="@Url.Action("Index", "Home", new { contestId = Model.Id_Contest })">@Model.Contest.Name</a></td>
                <td>@Model.Admin.FirstName @Model.Admin.LastName</td>
                <td>@Html.TextBoxFor(a => a.TimeLimit, new { style = "width:75px;" }) ms</td>
                <td>@Html.TextBoxFor(a => a.MemoryLimit, new { style = "width:75px;" }) MB</td>
                <td>@String.Format("{0}.in", Model.Name.ToLower())</td>
                <td>@String.Format("{0}.out", Model.Name.ToLower())</td>
            </tr>
        </tbody>
    </table>
    <div id="problemBody">
        @(Html.Kendo().Editor()
      .Name("Body")
      .HtmlAttributes(new { style = "width:100%;" })
      .Tools(tools => tools
          .Clear()
          .Bold().Italic().Underline().Strikethrough()
          .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
          .InsertUnorderedList().InsertOrderedList()
          .Outdent().Indent()
          .CreateLink().Unlink()
          .InsertImage()
          .SubScript()
          .SuperScript()
          .TableEditing()
          .ViewHtml()
          .Formatting()
          .FontName()
          .FontSize()
          .FontColor().BackColor()
      )
      .Value(@Model.Body)
    )
    </div>
    <div id="problemInput">
        <h4>Input</h4>
        @(Html.Kendo().Editor()
      .Name("Input")
      .HtmlAttributes(new { style = "width:100%;" })
      .Tools(tools => tools
          .Clear()
          .Bold().Italic().Underline().Strikethrough()
          .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
          .InsertUnorderedList().InsertOrderedList()
          .Outdent().Indent()
          .CreateLink().Unlink()
          .InsertImage()
          .SubScript()
          .SuperScript()
          .TableEditing()
          .ViewHtml()
          .Formatting()
          .FontName()
          .FontSize()
          .FontColor().BackColor()
      )
      .Value(@Model.Input)
    )
    </div>
    <div id="problemOutput">
        <h4>Output</h4>
        @(Html.Kendo().Editor()
      .Name("Output")
      .HtmlAttributes(new { style = "width:100%;" })
      .Tools(tools => tools
          .Clear()
          .Bold().Italic().Underline().Strikethrough()
          .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
          .InsertUnorderedList().InsertOrderedList()
          .Outdent().Indent()
          .CreateLink().Unlink()
          .InsertImage()
          .SubScript()
          .SuperScript()
          .TableEditing()
          .ViewHtml()
          .Formatting()
          .FontName()
          .FontSize()
          .FontColor().BackColor()
      )
      .Value(@Model.Output)
    )
    </div>
    <div id="problemRestrictions">
        <h4>Restrictions</h4>
        @(Html.Kendo().Editor()
      .Name("Restrictions")
      .HtmlAttributes(new { style = "width:100%;" })
      .Tools(tools => tools
          .Clear()
          .Bold().Italic().Underline().Strikethrough()
          .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
          .InsertUnorderedList().InsertOrderedList()
          .Outdent().Indent()
          .CreateLink().Unlink()
          .InsertImage()
          .SubScript()
          .SuperScript()
          .TableEditing()
          .ViewHtml()
          .Formatting()
          .FontName()
          .FontSize()
          .FontColor().BackColor()
      )
      .Value(@Model.Restrictions)
    )
    </div>
    <div id="problemExamples">
        <h4>Examples</h4>
        @(Html.Kendo().Editor()
              .Name("Examples")
              .HtmlAttributes(new { style = "width:100%;" })
              .Tools(tools => tools
                  .Clear()
                  .Bold().Italic().Underline().Strikethrough()
                  .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
                  .InsertUnorderedList().InsertOrderedList()
                  .Outdent().Indent()
                  .CreateLink().Unlink()
                  .InsertImage()
                  .SubScript()
                  .SuperScript()
                  .TableEditing()
                  .ViewHtml()
                  .Formatting()
                  .FontName()
                  .FontSize()
                  .FontColor().BackColor()
              )
              .Value(@Model.Examples)
              )
    </div>
    <div id="problemCategories">
        <h4>Problem Categories</h4>
        @for (var i = 0; i < problemCategories.Count; i++)
        {
            var problemCategory = problemCategories[i];
            if (Model.ProblemCategories != null && Model.ProblemCategories.Any(pc => pc.ID == problemCategory.ID))
            {
            <input type="checkbox" name="ProblemCategory" value="@problemCategory.ID" checked="checked"/>@problemCategory.Name
            }
            else
            {
            <input type="checkbox" name="ProblemCategory" value="@problemCategory.ID"/>@problemCategory.Name
            }
        }
    </div>
    <input type="submit" value="Update" />
}
@section scripts{
    <script src="~/Scripts/Controllers/Admin/ProblemController.js"></script>
}
