﻿@model int
@{
    ViewBag.Title = ViewBag.ContestName + " Problems - ADMINISTRATOR";
}

<h2>Problems for <b><u>@ViewBag.ContestName</u></b></h2>

@(Html.Kendo().Grid<CodEval.DAL.Repository.Problem>()
    .Name("problemsGrid")
    .Columns(columns =>
    {
        columns.Bound(e => e.Name).ClientTemplate("<a href=\"" + Url.Action("Problem", "Admin") + "?id=#=ID#\">#=Name#</a>");
        columns.Bound(e => e.TimeLimit).Title("Time Limit(ms)");
        columns.Bound(e => e.MemoryLimit).Title("Memory Limit(MB)");
        //columns.Bound(e => e.Body);
        //columns.Bound(e => e.Input);
        //columns.Bound(e => e.Output);
        //columns.Bound(e => e.Restrictions);
        columns.Bound(e => e.Id_Admin).Title("Tests").ClientTemplate("<a href=\"" + Url.Action("Tests", "Admin") + "?problemId=#=ID#\">Tests</a>");
        columns.Command(command => command.Destroy()).Width(110);
    })
    .ToolBar(toolbar =>
    {
        toolbar.Create();
        toolbar.Save();
    })
    .Editable(editable => editable.Mode(GridEditMode.InCell))
    .Pageable()
    .Navigatable()
    .Sortable()
    .Scrollable()
    .AutoBind(true)
    .DataSource(dataSource => dataSource
        .Ajax()
        .Batch(true)
        .PageSize(50)
        .ServerOperation(false)
        .Events(events => events.Error("error_handler"))
        .Model(model =>
            {
                model.Id(p => p.ID);
                model.Field(p => p.Id_Admin).Editable(false);               
            }
        )
        .Create("AddProblem", "Admin", new { contestId = Model })
        .Read("GetProblems", "Admin", new { contestId = Model })
        .Update("UpdateProblem", "Admin")
        .Destroy("DeleteProblem", "Admin")
    )
)

<script type="text/javascript">
    function error_handler(e) {    
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function() {
                        message += this + "\n";
                    });
                }
            });        
            alert(message);
        }
    }
</script>


