﻿@{
    ViewBag.Title = "Problem Categories - ADMINISTRATOR";
}

<h2>Problem Categories</h2>
@(Html.Kendo().Grid<CodEval.DAL.Repository.ProblemCategory>()
    .Name("statusesGrid")
    .Columns(columns =>
    {
        columns.Bound(e => e.Name);
        columns.Bound(e => e.Description);
        columns.Command(command => command.Destroy()).Width(110);
    })
    .ToolBar(toolbar =>
    {
        toolbar.Create();
        toolbar.Save();
    })
    .Editable(editable => editable.Mode(GridEditMode.InCell))
    .Pageable()
    .Navigatable()
    .Sortable()
    .Scrollable()
    .AutoBind(true)
    .DataSource(dataSource => dataSource
        .Ajax()
        .Batch(true)
        .PageSize(50)
        .ServerOperation(false)
        .Events(events => events.Error("error_handler"))
        .Model(model => model.Id(p => p.ID))
        .Create("AddProblemCategory", "Admin")
        .Read("GetProblemCategories", "Admin")
        .Update("UpdateProblemCategory", "Admin")
        .Destroy("DeleteProblemCategory", "Admin")
    )
)

<script type="text/javascript">
    function error_handler(e) {    
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function() {
                        message += this + "\n";
                    });
                }
            });        
            alert(message);
        }
    }
</script>
