﻿@{
    ViewBag.Title = "Questions";
}
<table>
    <tr style="vertical-align:bottom;">
        <td><h2>Questions</h2></td>
        <td>
            <input type="button" onclick="onBtnRefreshClick(event)" value="Refresh" id="btnRefresh" class="k-button">
        </td>
    </tr>
</table>

@(Html.Kendo().Grid<CodEval.DAL.Repository.Question>()
    .Name("questionsGrid")
    .Columns(columns =>
    {
        //columns.Bound(e => e.ID_Contestant);
        columns.ForeignKey(p => p.ID_Contestant, (System.Collections.IEnumerable)ViewData["contestants"], "ID_Contestant", "ContestantFullName").Title("Contestant");
        columns.Bound(e => e.Question1).Title("Question");
        columns.Bound(e => e.Answer);
        columns.Bound(e => e.Answered).Visible(false);
        columns.Command(command => command.Destroy()).Width(110);
    })
    .ToolBar(toolbar =>
    {
        //toolbar.Create();
        toolbar.Save();
    })
    .Editable(editable => editable.Mode(GridEditMode.InCell))
    .Pageable()
    .Navigatable()
    .Sortable()
    .Scrollable()
    .AutoBind(true)
    .DataSource(dataSource => dataSource
        .Ajax()
        .Batch(true)
        .PageSize(50)
        .ServerOperation(false)
        .Events(events => events.Error("error_handler"))
        .Model(model => 
            {
                model.Id(p => p.ID); 
                model.Field(field => field.ID_Contestant).Editable(false);
            }
        )
        //.Create("AddQuestion", "Admin")
        .Read("GetQuestions", "Admin")
        .Update("UpdateQuestion", "Admin")
        .Destroy("DeleteQuestion", "Admin")
    )
)

<script type="text/javascript">
    $(document).ready(function () {
        setInterval(function () { questionsTimer() }, 10000);
    });

    function error_handler(e) {    
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function() {
                        message += this + "\n";
                    });
                }
            });        
            alert(message);
        }
    }

    function questionsTimer() {
        var grid = $('#questionsGrid').data('kendoGrid');
        $.ajax({
            type: 'POST',
            url: "@Url.Action("GetQuestions","Admin")",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (questions) {
                if (questions.Total > grid.dataSource.data().length) {
                    alert('New questions have been submitted!');
                    onBtnRefreshClick();
                }
            },
            error: function () {
                console.log("Eroare la conexiune, va rugam sa mai incercati odata!");
            }
        });
    }

    function onBtnRefreshClick(event) {
        var grid = $('#questionsGrid').data('kendoGrid');
        grid.dataSource.read();
    }
</script>