﻿@using CodEval.DAL.Repository
@{
    ViewBag.Title = "Submissions Similarities - ADMINISTRATOR";
    var contests = ViewBag.Contests as IList<Contest> ?? new List<Contest>();
    var problems = ViewBag.Problems as IList<Problem> ?? new List<Problem>();
    var submissions = ViewBag.Submissions as IList<Submission> ?? new List<Submission>();
    var selectedContestId = (int)ViewBag.SelectedCotestId;
    var selectedProblemId = (int)ViewBag.SelectedProblemId;
    var selectedSubmissionIds = ViewBag.SelectedSubmissionIds as HashSet<int> ?? new HashSet<int>();
}

<h2>Submissions Similarities</h2>
<form id="computeSimilaritiesForm" method="GET" action="/Admin/SimilarityReport">
    <div>
        Contest (*)
    </div>
    <div>
        <select name="contestId" id="contestList">
            <option value="null">(Select a contest)</option>
            @foreach (var contest in contests)
            {
                <option value="@contest.ID" @(contest.ID == selectedContestId ? "selected='selected'" : "")>@contest.Name</option>
            }
        </select>
    </div>
    <div>
        Problem
    </div>
    <div>
        <select name="problemId" id="problemList">
            <option value="null">(Select a problem)</option>
            @foreach (var problem in problems)
            {
                <option value="@problem.ID" @(problem.ID == selectedProblemId ? "selected='selected'" : "")>@problem.Name</option>
            }
        </select>
    </div>
    <div>
        Submissions
    </div>
    <div>
        @foreach (var submission in submissions)
        {
            <input type="checkbox" name="sIds" @(selectedSubmissionIds.Contains(submission.ID) ? "checked='checked'" : "") value="@submission.ID"/>@(string.Format("{0} {1} - {2}", submission.Contestant.FirstName, submission.Contestant.LastName, submission.SubmissionTime))
        }
    </div>
    <div>
        <input type="submit" id="btnComputeSimilarities" value="Submit" />
    </div>
</form>

@section Scripts{
    <script type="text/javascript">
        var refreshPage = function (includeProblemId) {
            var contestId = $("#contestList").val();
            var problemId = $("#problemList").val();
            var url = "@Url.Action("Similarities", "Admin")" + "?contestId=" + contestId;
            if (includeProblemId) {
                url += "&problemId=" + problemId;
            }

            window.location.href = url;
        };

        $("#contestList").on("change", function () {
            refreshPage(false);
        });
        $("#problemList").on("change", function() {
            refreshPage(true);
        });
    </script>
}
