﻿@using CodEval.DAL.Repository
@{
    ViewBag.Title = "Similarity Report - ADMINISTRATOR";
    var submissions = ViewBag.Submissions as IList<Submission> ?? new List<Submission>();
    var submissionsCount = submissions.Count;
    var result = ViewBag.Result as float[,] ?? new float[submissionsCount, submissionsCount];
}

@section featured {
    <link href="~/Content/Similarity.css" rel="stylesheet" />
}

<h2>Similarity Report</h2>
<table id="similarityReportTable">
    <thead>
        <tr>
            <th></th>
            @for (var i = 0; i < submissionsCount; i++)
            {
                <td title="@(string.Format("{0} {1} - {2}", submissions[i].Contestant.FirstName, submissions[i].Contestant.LastName, submissions[i].SubmissionTime))"><a href="/Submissions?id=@submissions[i].ID" target="_blank">@submissions[i].ID - @submissions[i].Contestant.LastName @submissions[i].Contestant.FirstName.Substring(0, 1).</a></td>
            }
        </tr>
    </thead>
    <tbody>
        @for (var i = 0; i < submissionsCount; i++)
        {
            <tr>
                <td title="@(string.Format("{0} {1} - {2}", submissions[i].Contestant.FirstName, submissions[i].Contestant.LastName, submissions[i].SubmissionTime))"><a href="/Submissions?id=@submissions[i].ID" target="_blank">@submissions[i].ID - @submissions[i].Contestant.LastName @submissions[i].Contestant.FirstName.Substring(0, 1).</a></td>
                @for (var j = 0; j < submissionsCount; j++)
                {
                    <td class="similarityPercentage" data-val="@result[i, j]">@((int)(result[i, j] * 100))%</td>
                }
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script type="text/javascript">
        var getColor = function (value) {
            //value from 0 to 1
            var hue = ((1 - value) * 120).toString(10);
            return ["hsl(", hue, ",100%,50%)"].join("");
        };

        $(".similarityPercentage").each(function (ixd, s) {
            var value = Number($(s).data("val"));
            s.style.backgroundColor = getColor(value);
        });
    </script>
}
