﻿@{
    ViewBag.Title = "Submissions Results - ADMINISTRATOR";
    TimeZone zone = TimeZone.CurrentTimeZone;
}

<h2>Submissions Results</h2>
<form method="post" id="exportForm" action="@Url.Action("ExportContestRakingToPDF", "Admin")">
    @(Html.Kendo().ComboBox()
      .Name("contestId")      
      .DataTextField("Contest_Name")
      .DataValueField("ID_Contest")
      .BindTo((System.Collections.IEnumerable)ViewData["contests"])
      .SelectedIndex(0) 
    )
    <input type="submit" id="btnReEvaluate" value="ReEvaluate" class="k-button">
    <input type="submit" id="btnExportGeneral" value="Export General Ranking to PDF" class="k-button">
    <input type="submit" id="btnExportAll" value="Export All Rankings to PDF" class="k-button">
</form>
@(Html.Kendo().Grid<CodEval.BLL.Models.ProblemSubmissionResult>()
    .Name("resultsGrid")
    .Columns(columns =>
    {
        columns.ForeignKey(p => p.ID_Contest, (System.Collections.IEnumerable)ViewData["contests"], "ID_Contest", "Contest_Name").Title("Contest");
        columns.ForeignKey(p => p.ID_Contestant, (System.Collections.IEnumerable)ViewData["contestants"], "ID_Contestant", "ContestantFullName").Title("Contestant");
        columns.ForeignKey(p => p.ID_Problem, (System.Collections.IEnumerable)ViewData["problems"], "ID_Problem", "Problem_Name").Title("Problem");
        columns.ForeignKey(p => p.ID_Submission, (System.Collections.IEnumerable)ViewData["submissions"], "ID_Submission", "Submission_Name").Title("Submission");
        columns.ForeignKey(p => p.ID_Test, (System.Collections.IEnumerable)ViewData["tests"], "ID_Test", "Test_Name").Title("Test");
        columns.ForeignKey(p => p.ID_Status, (System.Collections.IEnumerable)ViewData["statuses"], "ID_Status", "Status_Name").Title("Status");
        columns.Bound(e => e.Time).Format("{0:n0} ms").HtmlAttributes(new { style = "text-align:right;" });
        columns.Bound(e => e.Memory).HtmlAttributes(new { style = "text-align:right;" });
        columns.Bound(e => e.Score).HtmlAttributes(new { style = "text-align:right;" });
        columns.Command(command => command.Destroy().Text(" ").HtmlAttributes(new { style = "min-width: 30px;" })).Width(50);
    })
    .ToolBar(toolbar =>
    {
        toolbar.Create();
        toolbar.Save();
    })
    .Editable(editable => editable.Mode(GridEditMode.InCell))
    .Pageable()
    .Navigatable()
    .Sortable()
    .Scrollable(a => a.Height("auto"))
    .Filterable()
    .Groupable()
    .AutoBind(true)
    .DataSource(dataSource => dataSource
        .Ajax()
        .Group(g => 
            {
                g.Add(c => c.ID_Contest);
                g.Add(c => c.ID_Submission);
            })
        .Batch(true)
        .PageSize(50)
        .ServerOperation(false)
        .Events(events => events.Error("error_handler"))
        .Model(model => 
            {
                model.Id(p => p.ID);
                model.Field(c => c.ID_Contest).DefaultValue(ViewBag.DefaultContest);
                model.Field(c => c.ID_Contestant).DefaultValue(ViewBag.DefaultContestant);
                model.Field(c => c.ID_Problem).DefaultValue(ViewBag.DefaultProblem);
                model.Field(c => c.ID_Submission).DefaultValue(ViewBag.DefaultSubmission);
                model.Field(c => c.ID_Test).DefaultValue(ViewBag.DefaultTest);
                model.Field(c => c.ID_Status).DefaultValue(ViewBag.DefaultStatus);
                model.Field(c => c.EvaluationTime).DefaultValue(zone.ToUniversalTime(DateTime.Now).AddHours(3));            
            }
        )
        .Create("AddSubmissionResult", "Admin")
        .Read("GetSubmissionsResults", "Admin")
        .Update("UpdateSubmissionResult", "Admin")
        .Destroy("DeleteSubmissionResult", "Admin")
    )
)

<script type="text/javascript">
    function error_handler(e) {    
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function() {
                        message += this + "\n";
                    });
                }
            });        
            alert(message);
        }
    }    

    $("#btnExportGeneral").click(function () {
        var form = $("form#exportForm");
        form.attr("action", "@Url.Action("ExportContestRakingToPDF", "Admin")");
        form.submit();
      });

    $("#btnExportAll").click(function () {
        var form = $("form#exportForm");
        form.attr("action", "@Url.Action("ExportContestIndividualRakingsToPDF", "Admin")");
        form.submit();
    });

    $("#btnReEvaluate").click(function () {
        var form = $("form#exportForm");
        form.attr("action", "@Url.Action("ReEvaluateSubmissions", "Admin")");
        form.submit();
    });
</script>
