﻿@{
    ViewBag.Title = "Submissions - ADMINISTRATOR";
}
<h2>Submissions</h2>
@(Html.Kendo().Grid<CodEval.DAL.Repository.Submission>()
    .Name("submissionsGrid")
    .Columns(columns =>
    {
        columns.ForeignKey(p => p.ID_Contestant, (System.Collections.IEnumerable)ViewData["contestants"], "ID_Contestant", "ContestantFullName").Title("Contestant");
        columns.ForeignKey(p => p.ID_Problem, (System.Collections.IEnumerable)ViewData["problem_contest"], "ID_Problem", "Contest_Name").Title("Contest").ClientTemplate("<a href=\"" + Url.Action("Problems", "Admin") + "?contestId=#=getContestId(data)#\">#=getContestName(data)#</a>");
        columns.ForeignKey(p => p.ID_Problem, (System.Collections.IEnumerable)ViewData["problem_contest"], "ID_Problem", "Problem_Name").Title("Problem").ClientTemplate("<a href=\"" + Url.Action("Index", "Problem") + "?id=#=ID_Problem#\">#=getProblemName(data)#</a>");
        columns.ForeignKey(p => p.Status, (System.Collections.IEnumerable)ViewData["submissionsStatuses"], "ID_Status", "Status_Name").Title("Status");
        columns.Bound(e => e.SubmissionTime).Format("{0:dd-MM-yyyy HH:mm:ss}");
        columns.ForeignKey(p => p.ID, (System.Collections.IEnumerable)ViewData["submissionsScores"], "ID_Submission", "Submission_Score").Title("Score").HtmlAttributes(new { style = "text-align:right;" }).Filterable(false).ClientTemplate("<a href=\"" + Url.Action("Index", "Submissions") + "?id=#=ID#\" title=\"View Sorce & Evaluation Details\">#=getSubmissionScore(data)#</a>"); ;
    })
    .Sortable()
    .DataSource(dataSource => dataSource
        .Ajax()
        .Read(read => read.Action("GetSubmissions", "Admin"))
        .ServerOperation(false)
        .Events(e => e.Error("error_handler"))
     )
     .Filterable()
     .Groupable()
     .AutoBind(true)     
)
@{
    var json = Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewData["problem_contest"]));
}

<script type="text/javascript">
    $(document).ready(function () {
        setInterval(function () { submissionsTimer() }, 5000);
    });

    function submissionsTimer() {
        var grid = $('#submissionsGrid').data('kendoGrid');
        grid.dataSource.read();
    }

    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }

    var problems = null;
    var contests = null;
    var contestsIds = null;
    var submissionScores = null;

    //get's the Problem_Name by ID_Problem
    function getProblemName(data) {
        var grid = $("#submissionsGrid").data("kendoGrid");
        //change the index of the column with your index
        var valuesCollection = grid.options.columns[2].values;

        //if the collection is empty - get it from the grid
        if (!problems) {
            problems = {};
            //Set the correct FKColumn index
            for (var value in valuesCollection) {
                problems[valuesCollection[value].value] = valuesCollection[value].text;
            }
        }
        return problems[data.ID_Problem];
    };

    //get's the Contest_Name by ID_Problem
    function getContestName(data) {
        var grid = $("#submissionsGrid").data("kendoGrid");
        //change the index of the column with your index
        var valuesCollection = grid.options.columns[1].values;

        //if the collection is empty - get it from the grid
        if (!contests) {
            contests = {};
            //Set the correct FKColumn index
            for (var value in valuesCollection) {
                contests[valuesCollection[value].value] = valuesCollection[value];
            }
        }
        return contests[data.ID_Problem].text;
    };

    //get's the Contest_Name by ID_Problem
    function getSubmissionScore(data) {
        var grid = $("#submissionsGrid").data("kendoGrid");
        //change the index of the column with your index
        var valuesCollection = grid.options.columns[5].values;

        //if the collection is empty - get it from the grid
        if (!submissionScores) {
            submissionScores = {};
            //Set the correct FKColumn index
            for (var value in valuesCollection) {
                submissionScores[valuesCollection[value].value] = valuesCollection[value];
            }
        }
        return submissionScores[data.ID].text;
    };

    //get's the ContestId by ID_Problem
    function getContestId(data) {
        //if the collection is empty - get it from the json
        if (!contestsIds) {
            contestsIds = {};
            valuesCollection = JSON.parse('@json');
            //Set the correct FKColumn index
            for (var value in valuesCollection) {
                contestsIds[valuesCollection[value].ID_Problem] = valuesCollection[value];
            }
        }
        return contestsIds[data.ID_Problem].ID_Contest;
    };
</script>
