﻿@model int
@{
    ViewBag.Title = ViewBag.ProblemName + " Tests - ADMINISTRATOR";
}

<h2>Tests for <b><u>@ViewBag.ProblemName</u></b></h2>
<form method="post" id="exportForm" action="@Url.Action("DownloadTests", "Admin", new { problemId = Model })">
    <input type="submit" id="btnDownloadTests" value="Download Tests" class="k-button">
</form>
@(Html.Kendo().Grid<CodEval.DAL.Repository.Test>()
    .Name("testsGrid")
    .Columns(columns =>
    {
        columns.Bound(e => e.Name).Width(100);
        columns.Bound(e => e.Points).Width(70);
        columns.Bound(e => e.InputLocation).ClientTemplate("<div class=\"uploadInputFilesClass\"><input name=\"files\" id=\"uploadTestInputFile_#=ID#\" type=\"file\" data-testid=\"#=ID#\" title=\"#=InputLocation#\" /></div>").Title("Input File");
        columns.Bound(e => e.OKLocation).ClientTemplate("<div class=\"uploadOkFilesClass\"><input name=\"files\" id=\"uploadTestOkFile_#=ID#\" type=\"file\" data-testid=\"#=ID#\" title=\"#=OKLocation#\" /></div>").Title("OK File");
        columns.Bound(e => e.InputLocation).Width(100).Title("Download").ClientTemplate("<form method=\"post\" action=\"" + Url.Action("DownloadTest", "Admin") + "?testId=#=ID#\"><input type=\"submit\" value=\"Download\" class=\"k-button\"></form>");
        columns.Command(command => command.Destroy()).Width(110);
    })
    .ToolBar(toolbar =>
    {
        toolbar.Create();
        toolbar.Save();
    })
    .Editable(editable => editable.Mode(GridEditMode.InCell))
    .Pageable()
    .Navigatable()
    .Sortable()
    .Scrollable()
    .AutoBind(true)
    .DataSource(dataSource => dataSource
        .Ajax()
        .Batch(true)
        .PageSize(50)
        .ServerOperation(false)
        .Events(events => events.Error("error_handler"))
        .Model(
            model =>
            {
                model.Id(p => p.ID);
                model.Field(p => p.Points).DefaultValue(10);
                model.Field(p => p.Name).DefaultValue(ViewBag.ProblemName.ToLower());
                model.Field(p => p.InputLocation).Editable(false);
                model.Field(p => p.OKLocation).Editable(false);
            })
        .Create("AddTest", "Admin", new { problemId = Model })
        .Read("GetTests", "Admin", new { problemId = Model })
        .Update("UpdateTest", "Admin")
        .Destroy("DeleteTest", "Admin")
    )
    .Events(e => e.DataBound("onTestsGridDataBound"))
)
<form method="post" action="@Url.Action("UploadTests", "Admin")" enctype="multipart/form-data" id="uploadTestFilesForm">
    <input type="hidden" name="problemId" value="@Model"/>
    <label for="files">Upload Tests:</label>
    <input type="file" name="files" id="testFiles" multiple="multiple" />
    <input type="submit" value="Upload" />
</form>
<script type="text/javascript">
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }

    function onTestsGridDataBound() {
        $.each($('.uploadInputFilesClass'), function () {
            var grid = $('#testsGrid').data().kendoGrid;
            var row = $(this).closest('tr');
            var dataItem = grid.dataItem(row);
            $("#uploadTestInputFile_" + dataItem.ID).kendoUpload({
                multiple: false,
                async: {
                    saveUrl: "@Url.Action("UploadTestInputFile", "Admin")",
                    autoUpload: true
                },
                upload: onUpload,
                success: onSubmitSuccess,
                error: onSubmitError,
                select: onSelectInput
            });
        });
        $.each($('.uploadOkFilesClass'), function () {
            var grid = $('#testsGrid').data().kendoGrid;
            var row = $(this).closest('tr');
            var dataItem = grid.dataItem(row);
            $("#uploadTestOkFile_" + dataItem.ID).kendoUpload({
                multiple: false,
                async: {
                    saveUrl: "@Url.Action("UploadTestOKFile", "Admin")",
                    autoUpload: true
                },
                upload: onUpload,
                success: onSubmitSuccess,
                error: onSubmitError,
                select: onSelectOk
            });
        });
    }

    function onUpload(e) {
        e.data = {
            testId: e.sender.element.data('testid')
        };
    }

    function onSelectInput(e) {
        $.each(e.files, function (index, value) {
            //if (!(value.extension.toLowerCase() == '.in')) {
            //    e.preventDefault();
            //    alert('Invalid File!');
            //}
        });
    };

    function onSelectOk(e) {
        $.each(e.files, function (index, value) {
            //if (!(value.extension.toLowerCase() == '.ok')) {
            //    e.preventDefault();
            //    alert('Invalid File!');
            //}
        });
    };

    function onSubmitSuccess(e) {
        console.log('Test Upload Succeded!');
        $('#testsGrid').data('kendoGrid').dataSource.read();
    }

    function onSubmitError(e) {
        alert(e.XMLHttpRequest.responseText);
    }

    $("#uploadTestFilesForm").submit(function (e) {
        var formObj = $(this);
        var formURL = formObj.attr("action");
        var formData = new FormData(this);
        $.ajax({
            url: formURL,
            type: 'POST',
            data: formData,
            mimeType: "multipart/form-data",
            contentType: false,
            cache: false,
            processData: false,
            success: function (data, textStatus, jqXHR) {
                data = JSON.parse(data);
                alert(data.Message);
                document.getElementById('uploadTestFilesForm').reset();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(textStatus);
            }
        });
        e.preventDefault(); //Prevent Default action. 
        //e.unbind();
    });
</script>

