﻿@{
    ViewBag.Title = "Contestants - ADMINISTRATOR";
}
<h2>Contestants</h2>
@(Html.Kendo().Grid<CodEval.DAL.Repository.Contestant>()
    .Name("usersGrid")
    .Columns(columns =>
    {
        columns.Bound(e => e.FirstName);
        columns.Bound(e => e.LastName);
        columns.Bound(e => e.Username);
        columns.Bound(e => e.Email);
        columns.Bound(e => e.Password).Visible(false);
        columns.Command(command => command.Destroy()).Width(110);
    })
    .ToolBar(toolbar =>
    {
        //toolbar.Create();
        //toolbar.Save();
        toolbar.Template("<a class=\"k-button k-button-icontext k-grid-add\" href=\"/Admin/GetContestants?usersGrid-mode=insert\"><span class=\"k-icon k-add\"></span>Add new record</a><a class=\"k-button k-button-icontext k-grid-save-changes\" href=\"javascript:void(0)\"><span class=\"k-icon k-update\"></span>Save changes</a><a class=\"k-button k-button-icontext k-grid-cancel-changes\" href=\"javascript:void(0)\"><span class=\"k-icon k-cancel\"></span>Cancel changes</a><a class='k-button k-button-icontext' onclick='generateTemporaryPassowrds()' href='#'></span>Generate Temporary Passowrds</a><a class='k-button k-button-icontext' onclick='resetDefaultPassowrds()' href='#'></span>Reset Default Passowrds</a>");
    })
    .Editable(editable => editable.Mode(GridEditMode.InCell))
    .Pageable()
    .Navigatable()
    .Sortable()
    .Scrollable()
    .AutoBind(true)
    .DataSource(dataSource => dataSource
        .Ajax()
        .Batch(true)
        .PageSize(50)
        .ServerOperation(false)
        .Events(events => events.Error("error_handler"))
        .Model(model =>
            {
                model.Id(p => p.ID);
                //model.Field(p => p.Password).Editable(false);
            }
        )
        .Create("AddContestant", "Admin")
        .Read("GetContestants", "Admin")
        .Update("UpdateContestant", "Admin")
        .Destroy("DeleteContestant", "Admin")
    )
)

<form method="post" action="@Url.Action("GenerateTemporaryPassowrds", "Admin")" id="GenerateTemporaryPassowrdsForm"></form>
<form method="post" action="@Url.Action("ResetDefaultPassowrds", "Admin")" id="ResetDefaultPassowrdsForm"></form>

<script type="text/javascript">
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }

    function generateTemporaryPassowrds() {
        document.getElementById('GenerateTemporaryPassowrdsForm').submit();
    };

    function resetDefaultPassowrds() {
        document.getElementById('ResetDefaultPassowrdsForm').submit();
    };
</script>
