﻿@{
    ViewBag.Title = "CodEval Web API";
}

<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Welcome to CodEval Web API!</h1>
                <h2>Please see the API page to get started with the API usage.</h2>
            </hgroup>            
        </div>
    </section>    
</div>
